<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE - Health is Our First Priority</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container{
            max-width: 800px;
            margin: 20px auto;
            margin-top: 100px;
            {{!-- margin-top: 20px; --}}
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #555;
            line-height: 1.6;
        }
    </style>
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
  

{{>navbar}}
  

    <div class="container">
        <h1>About Our Mental Health Website</h1>
        <p>Welcome to our mental health website! We are dedicated to providing valuable resources, information, and support for individuals struggling with mental health issues. Our mission is to promote awareness, reduce stigma, and foster a supportive community for those seeking help and guidance.</p>
        <p>At our website, you'll find a variety of articles, guides, and tools designed to empower you on your mental health journey. Whether you're dealing with depression, anxiety, stress, or other mental health challenges, we're here to help you navigate through difficult times and find the support you need.</p>
        <p>Our team consists of experienced mental health professionals, counselors, and advocates who are committed to promoting mental well-being and providing compassionate support to our users. We believe that everyone deserves access to quality mental health care and support, and we strive to make that a reality through our website.</p>
        <p>Thank you for visiting us and taking the first step towards improving your mental health. Remember, you're not alone, and help is always available.</p>
    </div>
</body>
</html>
