<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE - Health is Our First Priority</title>
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

  

{{>navbar}}
  



        <!-- LANDING PAGE -->


  
        <div class="landing">



            <div class="landingtext" data-aos="fade-up" data-aous-duration="1000">


                <h1>Empowering Minds, Inspiring <span style="color: rgb(245, 57, 57); font-size: 6vw;">Hope</span> </h1>
                <h3>Navigating the path to mental well-being with compassion and support.    
                 Discover a sanctuary for your mind's journey towards healing on our dedicated mental health website.</h3>

                 <div class="btn">
                    <a href="#">Read More</a>
                 </div>
                 
                 </div>

                 <div class="landingimage" data-aos="fade-down" data-aous-duration="2000">
                    <img  src="images\HOPE_display-PhotoRoom.png-PhotoRoom (1).png" alt="">
            </div>
        </div>

    

    <!-- SERVICE SECTION  -->

    <div class="about">

        <div class="abouttext" data-aos="fade-up" data-aous-duration="1000">
            <h1>Your Path to Wellness Starts with Our Comprehensive <br><span style="color: rgb(245, 57, 57); font-size: 4vw;">Mental Health Services</span></h1>
            <!-- <img height="250px" width="300px" src="images\mental-health-resources-1.jpg" alt=""> -->
        </div>

        <div class="aboutlist" data-aos="fade-left" data-aous-duration="1000">
            <ol>
                <li>
                    <span>01</span>
                    <p>Therapeutic Support</p>
                </li>
                <li>
                    <span>02</span>
                    <p>Crisis Support</p>
                </li>
                <li>
                    <span>03</span>
                    <p>Prevention and Awareness</p>
                </li>
                <li>
                    <span>04</span>
                    <p>Community and Peer Support</p>
                </li>
                <li>
                    <span>05</span>
                    <p>Mindfulness and Well-Being Tools</p>
                </li>
            </ol>
        </div>
    </div>

    <!-- INFO SECTION  -->

    <div class="infosection">

        <div class="infoheader" data-aos="fade-up" data-aous-duration="1000">
            <h1> We Analyze Your Health States <br> <span style="color:  rgb(245, 57, 57); "> In Order To Top Services </span> </h1>

        </div>

        <div class="infocards">

            <div class="card one"  data-aos="fade-up" data-aous-duration="1000">

                <img src="images\istockphoto-1417560181-612x612.png" class="cardoneimg" alt=""  data-aos="fade-up" data-aous-duration="1100">
                <div class="cardbgone"></div>
                <div class="cardcontent">
                    <h2>Health Services</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, deserunt.</p>

                    <a href="#">
                        <div class="cardbtn">

                            <img src="images\next.png" alt="" class="cardicon">
                        </div>
                    </a>
                </div>
            </div>

            <div class="card two"  data-aos="fade-up" data-aous-duration="1300">

                <img src="images\istockphoto-1417560181-612x612.png" class="cardtwoimg" alt=""  data-aos="fade-up" data-aous-duration="1200">
                <div class="cardbgtwo"></div>
                <div class="cardcontent">
                    <h2>Easy Appointments</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, deserunt.</p>

                    <a href="#">
                        <div class="cardbtn">

                            <img src="images\next.png" alt="" class="cardicon">
                        </div>
                    </a>
                </div>
            </div>

            <div class="card three"  data-aos="fade-up" data-aous-duration="1600">

                <img src="images\istockphoto-1417560181-612x612.png" class="cardthreeimg" alt=""  data-aos="fade-up" data-aous-duration="1300">
                <div class="cardbgthree"></div>
                <div class="cardcontent">
                    <h2>Qualified Experts</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, deserunt.</p>

                    <a href="#">
                        <div class="cardbtn">

                            <img src="images\next.png" alt="" class="cardicon">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- BANNER AND FOOTER -->

    <div class="banner">

        <div class="bannertext" data-aos="fade-up" data-aous-duration="1000">
            <h1> Download the HOPE App Today  <h3 style="font-size: 1.6vw; font-weight: normal;" class="bannerinnertext">
                Stay Updated and get all your medical needs taken care of!</h3>
            </h1>  

            <a href="#"><img src="images\AndroidPNG.png" alt=""></a>
            <a href="#"><img src="images\iosPNG.png" alt=""></a>

        </div>

        <div class="bannerimg" data-aos="fade-up" data-aous-duration="1000">

            <a href="#"><img src="images\app.png" alt=""></a>
        </div>
    </div>


    <div class="footer">
        <h1>HOPE</h1>

        <div class="footerlinks">
            <a href="/" class="mainlink">Home</a>
            <a href="about">About</a>
            {{!-- <a href="#">Doctor</a> --}}
            <a href="services">Services</a>
            <a href="https://www.verywellmind.com/mental-health-news-4844930">News</a>
            <a href="register">Register</a>     
        </div>
    </div>
    
    
 </div>
    <script src="	https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js"></script>
    <script> 
         AOS.init();
    </script>
</body>
</html>