
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE - Health is Our First Priority</title>
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/regstyle.css">

</head>
 
 
 <div class="wrapper">

        <div class="nav">
            <div class="logo">
                <img height="60px" width="120px" src="images\logo_tranparent.png" alt="">
            </div>

            <div class="links">
                <a href="/" class="Mainlink">Home</a>
                <a href="#">About</a>
                {{!-- <a href="#">Doctor</a> --}}
                <a href="#">Services</a>
                <a href="https://www.verywellmind.com/mental-health-news-4844930">News</a>
                <a href="/register">Register</a>
                <a href="/login" class="button">Login</a>
            </div>
        </div>